/* CSS Variables */

:root {
  --primary: #333;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104,104,104,.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background: white;
  margin: 30px 50px;
  line-height: 1.4;
}


img {
  max-width: 100%;
}


h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--primary);
  margin-top:0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

p{
  color: #ccc;
  text-align: center;
  margin-top:0;
}


.feature img{
  width: 95%;
  display: block;
  margin: 15px auto;
}

.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));

}
.gallery img{
  width:100%;
  box-shadow: var(--shadow);
  border: 1px solid white;
}

.small{
  width: 230px;
  height: 210px;
  margin:5px;
  transform: rotate(90deg);
}

footer{
  width: 100%;
  margin-top:2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

@media(max-width:500px){
  header{
    margin:25px;
  }
  footer{
    margin-top:125px;
  }

  .feature img{
    display:block;
    margin:45px auto;
    width: 230px;
    height: 210px;
    box-shadow: var(--shadow);
  }
}

@media(width:700px){
  header{
    margin-bottom:125px;
  }
  footer{
    margin-top:125px;
  }
}

@media(width:2560px){
  header{
    margin-bottom:100px;
  }
  footer{
    margin-top:125px;
  }

}
